<!DOCTYPE html>
<html>
<head>

</head>
<style>

    .prog{
        height: 100%;
        background-color:turquoise;
        padding:5%
    }
</style>
<body>
    <div class="prog"><h1>khalil ben elwaer</h1></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>   <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>   <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>   <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>   <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    <div><h2>khalil ben elwaer</h2></div>
    




</body>
</html>