{% extends 'wbtemp/t_teachers/base.html' %}
{% load static %}

{% block bcumbs %}
<li class="breadcrumb-item active">Course</li>
<li class="breadcrumb-item active">My Courses</li>
{% endblock %}
{% block content %}
<script>
  function modifier(c)
  {
    window.location.href="http://127.0.0.1:8000/teachers/chapters/"+c.id;
  }


</script>
        
<table id="course_list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>        
        <th>Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        
      </tr>
    </tfoot>
  </table>

  <script>
    $(document).ready(function(){
      $("#course_list").DataTable({    
        "ajax": 'http://127.0.0.1:8000/teachers/course/listj/',
        select:true,
        "columns": [
                { "data": "id","defaultContent": "" },
                { "data": "name","defaultContent": "" },
                { "data": "description","defaultContent": "" },
                                       
                {
                  data: null,
                  className: "center",
                  "render": function ( data, type, full, meta ) {
                    return "<a href='#' onclick='modifier("+JSON.stringify(data)+")'><i class='fa fa-book' aria-hidden='true'></i></a>"
                  }				
                }
    
    
        ] 
      })
    })
  </script>
{% endblock %}


